.icon-with-tip {
    position: relative;
}
  
.icon {
    text-align: center;
}

.tip {
    display: none;
    position: absolute;
    width: 100px;
    left: 30px;
    top: -5px;
}

.icon-with-tip:hover .tip {
    display: block;
}